force-app/main/default/flows/Convert_Text_Variable_to_Text_Collection_Variable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>459</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>SelectedChoicesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedChoices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemainingChoices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_other_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Values</name>
        <label>Assign Selected Values</label>
        <locationX>459</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>SelectedChoices</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_other_values</name>
        <label>Are there other values?</label>
        <locationX>694</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedChoices</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_to_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>FirstChoice</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!SelectedChoices}, FIND(&quot;;&quot;,{!SelectedChoices})-1))</expression>
    </formulas>
    <formulas>
        <name>RemainingChoices</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!SelectedChoices},{!FirstChoice}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Convert Text Variable to Text Collection Variable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Text Variable to Text Collection Variable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>127</locationY>
        <connector>
            <targetReference>Assign_Selected_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SelectedChoices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedChoicesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
