force-app/main/default/flows/Lead_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_16</name>
        <label>Assign Filter WTG</label>
        <locationX>1865</locationX>
        <locationY>5150</locationY>
        <assignmentItems>
            <assignToReference>FilterByWorkTypeGroupIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varWorkTypeGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assign_Filter_On_WTG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>C1_of_Set_lat_and_long</name>
        <label>C1 of Set  lat and long</label>
        <locationX>842</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>locationLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>28.58890781350437</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-81.3617576327333</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Service_Teritry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Selected_Values_on_Change</name>
        <label>Clear Selected Values on Change</label>
        <locationX>556</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionalAttendees</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validationErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedTriageOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIND_RESOURCE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AttendeesStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changePrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResources</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>skillsStartDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Primary_Resource_Change_Screen_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Set_lat_and_long</name>
        <label>Copy 1 of Set  lat and long</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>locationLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>28.551659996044133</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-81.54139802598841</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Service_Teritry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Set_lat_and_long</name>
        <label>Copy 2 of Copy 1 of Set  lat and long</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>locationLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>28.6519858169066</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-81.20617650389511</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Service_Teritry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Default_Location</name>
        <label>Copy 2 of Default Location</label>
        <locationX>2437</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>varDefaultLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoutureMedSpaLakeMary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttendeesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_lat_and_long</name>
        <label>Copy 2 of Set  lat and long</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>locationLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>28.30496592190182</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-81.43386146179188</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Service_Teritry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_lat_and_long</name>
        <label>Copy 3 of Set  lat and long</label>
        <locationX>1370</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>locationLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>42.78965302439118</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-71.51574473227791</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Service_Teritry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>default_Arrival_Window_time</name>
        <label>default Arrival Window time</label>
        <locationX>1392</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Location</name>
        <label>Default Location</label>
        <locationX>853</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>varDefaultLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoutureMedSpaKissimmee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttendeesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Location_2</name>
        <label>Default Location 2</label>
        <locationX>1117</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>varDefaultLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoutureMedSpaLakeMary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttendeesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Location_3</name>
        <label>Default Location 3</label>
        <locationX>1381</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>varDefaultLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoutureMedSpaNashua</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttendeesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Location_4</name>
        <label>Default Location 4</label>
        <locationX>1645</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>varDefaultLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoutureMedSpaOcoee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttendeesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Location_5</name>
        <label>Default Location 5</label>
        <locationX>1909</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>varDefaultLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoutureMedSpaOviedo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttendeesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Location_6</name>
        <label>Default Location 6</label>
        <locationX>2173</locationX>
        <locationY>4634</locationY>
        <assignmentItems>
            <assignToReference>varDefaultLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoutureMedSpaWinterPark</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttendeesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Review_Assignment</name>
        <label>Review Assignment</label>
        <locationX>1128</locationX>
        <locationY>3470</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedTimezone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultTimeZone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResources</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_work_type.EstimatedDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.DurationInMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_work_type.DurationInMinutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_work_type.DurationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_work_type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Emsculpt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emsculpt_Treatment_Areas12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Filler_treatment_area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filler_Treatment_areas12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Fractional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fractional_Treatment_Areas12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IPL_Treatement_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IPL_Treatment_Area12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Laser_Hair_Treatment_Areas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Laser_Hair_Treatment_Areas12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_service_resource_details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SkinPen_Treatment_Areas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SkinPen_Treatment_Areas12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Tattoo_Removal_Treatment_Areas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tattoo_Removal_Treatment_Areas12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Treatment_Areas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaTreatmentArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Vanquish_Treatment_Areas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vanquish_Treatment_Areas12</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Vein_Treatment_Areas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vein_Treatment_Areas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Room__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_service_resource_details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Injectable_Treatment_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Injectable_Treatment_Areas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Anonymous_Status</name>
        <label>Set Anonymous Status</label>
        <locationX>842</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetTimeSlotStage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_la</name>
        <label>Set  lat and long</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>locationLatitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>28.78190098912141</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>locationLongitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-81.35694589039784</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Service_Teritry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Triage_Option</name>
        <label>Set Triage Option</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>selectedTriageOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIND_RESOURCE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TopicScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAppointmentStage</name>
        <label>Set Appointment Stage</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppointmentTypeStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Work_Type_group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCandidateStage</name>
        <label>Set Candidate Stage</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CandidateStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CandidateScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInitialValues</name>
        <label>Set Initial Values</label>
        <locationX>1777</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionalAttendees</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>validationErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>workTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedTriageOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIND_RESOURCE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedTimezone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.EngagementChannelTypeId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_lead.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Resource_Selection_Screen_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLocationStage</name>
        <label>Set Location Stage</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Service_Teritry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>1128</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_work_type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTimeSlotStage</name>
        <label>Set Time Slot Stage</label>
        <locationX>842</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_Slot_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTopicStage</name>
        <label>Set Topic Stage</label>
        <locationX>1777</locationX>
        <locationY>5342</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TopicStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>TopicScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X15minTattoo</name>
        <label>15minTattoo</label>
        <locationX>864</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaArrivalWindowStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaArrivalWindowEnd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X45min_Fractional</name>
        <label>45min Fractional</label>
        <locationX>1128</locationX>
        <locationY>3170</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaArrivalWindowStart45</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFormulaArrivalWindowEnd45</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CoutureMedSpaKissimmee</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Couture Med Spa - Kissimmee&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CMS Kissimmee</stringValue>
        </value>
    </choices>
    <choices>
        <name>CoutureMedSpaLakeMary</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Couture Med Spa - Lake Mary&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CMS Lake Mary</stringValue>
        </value>
    </choices>
    <choices>
        <name>CoutureMedSpaNashua</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Couture Med Spa - Nashua&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CMS Nashua</stringValue>
        </value>
    </choices>
    <choices>
        <name>CoutureMedSpaOcoee</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Couture Med Spa - Ocoee&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CMS Ocoee</stringValue>
        </value>
    </choices>
    <choices>
        <name>CoutureMedSpaOviedo</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Couture Med Spa - Oviedo&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CMS Oviedo</stringValue>
        </value>
    </choices>
    <choices>
        <name>CoutureMedSpaWinterPark</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Couture Med Spa - Winter Park&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CMS Winter Park</stringValue>
        </value>
    </choices>
    <choices>
        <name>fi</name>
        <choiceText>fi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>fi</stringValue>
        </value>
    </choices>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <constants>
        <name>SPECIFIC</name>
        <dataType>String</dataType>
        <value>
            <stringValue>specific</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Change_Primary</name>
        <label>Change Primary</label>
        <locationX>842</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>SetReviewStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Primary_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>changePrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Selected_Values_on_Change</targetReference>
            </connector>
            <label>Change Primary Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Location</name>
        <label>Check Location</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>LocationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lake_Mary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Location_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CoutureMedSpaLakeMary</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_la</targetReference>
            </connector>
            <label>Lake Mary</label>
        </rules>
        <rules>
            <name>Ocoee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Location_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CoutureMedSpaOcoee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_lat_and_long</targetReference>
            </connector>
            <label>Ocoee</label>
        </rules>
        <rules>
            <name>Oviedo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Location_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CoutureMedSpaOviedo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Set_lat_and_long</targetReference>
            </connector>
            <label>Oviedo</label>
        </rules>
        <rules>
            <name>Winter_Park</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Location_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CoutureMedSpaWinterPark</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C1_of_Set_lat_and_long</targetReference>
            </connector>
            <label>Winter Park</label>
        </rules>
        <rules>
            <name>Kissimmee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Location_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CoutureMedSpaKissimmee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_lat_and_long</targetReference>
            </connector>
            <label>Kissimmee</label>
        </rules>
        <rules>
            <name>Nashua</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Appointment_Location_new</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CoutureMedSpaNashua</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_lat_and_long</targetReference>
            </connector>
            <label>Nashua</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_User_Location</name>
        <label>check User Location</label>
        <locationX>1777</locationX>
        <locationY>4526</locationY>
        <defaultConnector>
            <targetReference>AttendeesScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CMSKissimmee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentUserLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[CMS Kissimmee]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Location</targetReference>
            </connector>
            <label>CMS Kissimmee</label>
        </rules>
        <rules>
            <name>CMSLakeMary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentUserLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[CMS Lake Mary]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Location_2</targetReference>
            </connector>
            <label>CMS Lake Mary</label>
        </rules>
        <rules>
            <name>CMSNashua</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentUserLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[CMS Nashua]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Location_3</targetReference>
            </connector>
            <label>CMS Nashua</label>
        </rules>
        <rules>
            <name>CMSOcoee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentUserLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[CMS Ocoee]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Location_4</targetReference>
            </connector>
            <label>CMS Ocoee</label>
        </rules>
        <rules>
            <name>CMS_Oviedo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentUserLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[CMS Oviedo]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Location_5</targetReference>
            </connector>
            <label>CMS Oviedo</label>
        </rules>
        <rules>
            <name>CMSWinterPark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentUserLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>[CMS Winter Park]</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Location_6</targetReference>
            </connector>
            <label>CMS Winter Park</label>
        </rules>
        <rules>
            <name>for_multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCurrentUserLocations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Default_Location</targetReference>
            </connector>
            <label>for multiple</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_worktype_for_Arrival_date_and_time</name>
        <label>check worktype for Arrival date and time</label>
        <locationX>1128</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>default_Arrival_Window_time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tattoo_removal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_work_type.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laser (Tattoo Removal Room)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X15minTattoo</targetReference>
            </connector>
            <label>Tattoo removal</label>
        </rules>
        <rules>
            <name>Fractional_Laser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Fractional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X45min_Fractional</targetReference>
            </connector>
            <label>Fractional Laser</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_for_Treatment_Area</name>
        <label>decision for Treatment Area</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>SetLocationStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_need_Treatment_Area</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Filler</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emsculpt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IPL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Fractional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Laser Hair Removal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SkinPen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tattoo Removal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vanquish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vein Removal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laser (Tattoo Removal Room)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Injectables</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Treatment_Area</targetReference>
            </connector>
            <label>yes, need Treatment Area</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Message_For_Fx</name>
        <label>Error Message For Fx</label>
        <locationX>842</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>get_service_resource_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FX_Before_10_40</name>
            <conditionLogic>4 AND (1 OR 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>varFractionTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>14:00</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFractionTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>14:15</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFractionTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>14:30</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Fractional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayFXErrpr</targetReference>
            </connector>
            <label>FX Before 10:40</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Resource_Change_Screen_Decision</name>
        <label>Primary Resource Change Screen Decision</label>
        <locationX>556</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>Get_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_By_Resource_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterByResourceIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triage_Option</targetReference>
            </connector>
            <label>Filter By Resource IDs</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResourceDecision</name>
        <label>Resource Decision</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>SetTimeSlotStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FindResource</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>selectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowResourceBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCandidateStage</targetReference>
            </connector>
            <label>Find Resource</label>
        </rules>
        <rules>
            <name>Anonymous_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Anonymous_Status</targetReference>
            </connector>
            <label>Anonymous Booking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Resource_Selection_Screen_Decision</name>
        <label>Service Resource Selection Screen Decision</label>
        <locationX>1777</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_user</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Anonymous_Bookings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowResourceBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Triage_Option</targetReference>
            </connector>
            <label>Anonymous Booking</label>
        </rules>
        <rules>
            <name>Filter_By_Resource_IDs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterByResourceIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triage_Option</targetReference>
            </connector>
            <label>Filter By Resource IDs</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>EmsculptTreatmentFields</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Emsculpt__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FillerTreatmentAreas</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Filler_treatment_area__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FractionalTreatmentFields</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fractional__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IPLTreatmentFields</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>IPL_Treatement_Area__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LaserHairTreatmentFields</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Laser_Hair_Treatment_Areas__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SkinPenTreatmentFields</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SkinPen_Treatment_Areas__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TattooRemovalTreatmentFields</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tattoo_Removal_Treatment_Areas__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VanquishTreatmentFields</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vanquish_Treatment_Areas__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varChoiceInjectableTreatMentArea</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Injectable_Treatment_Area__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VeinTreatmentFields</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vein_Treatment_Areas__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CustomerrorMessage</name>
        <dataType>String</dataType>
        <expression>MID(
    {!$Flow.FaultMessage},
    FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage}) + LEN(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;),
    FIND(&apos;. You can look up ExceptionCode&apos;, {!$Flow.FaultMessage}) - FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage}) - LEN(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;)
)</expression>
    </formulas>
    <formulas>
        <name>varFormulaArrivalWindowEnd</name>
        <dataType>DateTime</dataType>
        <expression>{!ServiceAppointment.SchedEndTime} - (15/24/60)</expression>
    </formulas>
    <formulas>
        <name>varFormulaArrivalWindowEnd45</name>
        <dataType>DateTime</dataType>
        <expression>{!ServiceAppointment.SchedEndTime}- (45/24/60)</expression>
    </formulas>
    <formulas>
        <name>varFormulaArrivalWindowStart</name>
        <dataType>DateTime</dataType>
        <expression>{!ServiceAppointment.SchedStartTime} - (15/24/60)</expression>
    </formulas>
    <formulas>
        <name>varFormulaArrivalWindowStart45</name>
        <dataType>DateTime</dataType>
        <expression>{!ServiceAppointment.SchedStartTime} - (45/24/60)</expression>
    </formulas>
    <formulas>
        <name>varFormulaOwnerFullName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &apos; &apos; &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>varFormulaSubject</name>
        <dataType>String</dataType>
        <expression> {!get_service_resource_details.Name}  &amp; &apos; / &apos;&amp; {!Get_Selected_Work_Type_group.Name}</expression>
    </formulas>
    <formulas>
        <name>varFormulaTreatmentArea</name>
        <dataType>String</dataType>
        <expression>IF(
    NOT(ISBLANK({!Emsculpt_Treatment_Areas12})),
    {!Emsculpt_Treatment_Areas12} &amp; &apos;;&apos;,
    &apos;&apos;
) &amp;
IF(
    NOT(ISBLANK({!Filler_Treatment_areas12})),
    {!Filler_Treatment_areas12} &amp; &apos;;&apos;,
    &apos;&apos;
) &amp;
IF(
    NOT(ISBLANK({!Fractional_Treatment_Areas12})),
    {!Fractional_Treatment_Areas12} &amp; &apos;;&apos;,
    &apos;&apos;
) &amp;
IF(
    NOT(ISBLANK({!IPL_Treatment_Area12})),
    {!IPL_Treatment_Area12} &amp; &apos;;&apos;,
    &apos;&apos;
) &amp;
IF(
    NOT(ISBLANK({!Laser_Hair_Treatment_Areas12})),
    {!Laser_Hair_Treatment_Areas12} &amp; &apos;;&apos;,
    &apos;&apos;
) &amp;
IF(
    NOT(ISBLANK({!SkinPen_Treatment_Areas12})),
    {!SkinPen_Treatment_Areas12} &amp; &apos;;&apos;,
    &apos;&apos;
) &amp;
IF(
    NOT(ISBLANK({!Tattoo_Removal_Treatment_Areas12})),
    {!Tattoo_Removal_Treatment_Areas12} &amp; &apos;;&apos;,
    &apos;&apos;
) &amp;
IF(
    NOT(ISBLANK({!Vanquish_Treatment_Areas12})),
    {!Vanquish_Treatment_Areas12} &amp; &apos;;&apos;,
    &apos;&apos;
) &amp;
IF(
    NOT(ISBLANK({!Vein_Treatment_Areas})),
    {!Vein_Treatment_Areas} &amp; &apos;;&apos;,
    &apos;&apos;
) &amp;
IF(
    NOT(ISBLANK({!Injectable_Treatment_Areas})),
    {!Injectable_Treatment_Areas},
    &apos;&apos;
)</expression>
    </formulas>
    <formulas>
        <name>varFractionTime</name>
        <dataType>String</dataType>
        <expression>MID(TEXT({!ServiceAppointment.SchedStartTime}), 12, 5)</expression>
    </formulas>
    <formulas>
        <name>varWorkTypeGroupId</name>
        <dataType>String</dataType>
        <expression>{!Loop_Assign_Filter_On_WTG.Id} &amp; &apos;,&apos;</expression>
    </formulas>
    <interviewLabel>Lead Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Appointment</label>
    <loops>
        <name>Loop_Assign_Filter_On_WTG</name>
        <label>Loop Assign Filter On WTG</label>
        <locationX>1777</locationX>
        <locationY>5042</locationY>
        <collectionReference>get_Work_Type_Group_Based_on_Location</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_16</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetTopicStage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Records 1</label>
        <locationX>1128</locationX>
        <locationY>3578</locationY>
        <connector>
            <targetReference>Update_lead_status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_All</targetReference>
        </faultConnector>
        <inputReference>ServiceAppointment</inputReference>
    </recordCreates>
    <recordCreates>
        <name>event</name>
        <label>event</label>
        <locationX>1128</locationX>
        <locationY>3794</locationY>
        <faultConnector>
            <targetReference>Copy_2_of_Rollback_All</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>ServiceAppointment.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Get_Selected_Work_Type_group.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_service_resource_details.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Procedure_Name__c</field>
            <value>
                <elementReference>get_work_type.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scheduled_By__c</field>
            <value>
                <elementReference>varFormulaOwnerFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>ServiceAppointment.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>get_service_resource_details.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_lead</name>
        <label>Get lead</label>
        <locationX>1777</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetInitialValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Work_Type_group</name>
        <label>Get Selected Work Type Group</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_for_Treatment_Area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workTypeGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_service_resource_details</name>
        <label>get service resource details</label>
        <locationX>842</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Primary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Service_Teritry</name>
        <label>get Service Teritry</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Appointment_Location_new</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_user</name>
        <label>Get user</label>
        <locationX>1777</locationX>
        <locationY>4418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_User_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varCurrentUserLocations</assignToReference>
            <field>Primary_Location__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_work_type</name>
        <label>get work type</label>
        <locationX>1128</locationX>
        <locationY>2954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_worktype_for_Arrival_date_and_time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Work_Type_group.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Work_Type_group.Location__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Work_Type_Group_Based_on_Location</name>
        <label>get Work Type Group Based on Location</label>
        <locationX>1777</locationX>
        <locationY>4934</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assign_Filter_On_WTG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Appointment_Location_new</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkTypeGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Copy_1_of_Rollback_All</name>
        <label>Copy 1 of Rollback All</label>
        <locationX>1920</locationX>
        <locationY>3794</locationY>
        <connector>
            <targetReference>Copy_1_of_validation_error</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Copy_2_of_Rollback_All</name>
        <label>Copy 2 of Rollback All</label>
        <locationX>1656</locationX>
        <locationY>3902</locationY>
        <connector>
            <targetReference>Copy_2_of_validation_error</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Rollback_All</name>
        <label>Rollback All</label>
        <locationX>2184</locationX>
        <locationY>3686</locationY>
        <connector>
            <targetReference>validation_error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_lead_status</name>
        <label>Update lead status</label>
        <locationX>1128</locationX>
        <locationY>3686</locationY>
        <connector>
            <targetReference>event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Rollback_All</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Schedule - Service/Appt Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>AttendeesScreen</name>
        <label>Attendees Screen</label>
        <locationX>1777</locationX>
        <locationY>4826</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_Work_Type_Group_Based_on_Location</targetReference>
        </connector>
        <fields>
            <name>Appointment_Location_new</name>
            <choiceReferences>CoutureMedSpaLakeMary</choiceReferences>
            <choiceReferences>CoutureMedSpaOcoee</choiceReferences>
            <choiceReferences>CoutureMedSpaOviedo</choiceReferences>
            <choiceReferences>CoutureMedSpaWinterPark</choiceReferences>
            <choiceReferences>CoutureMedSpaKissimmee</choiceReferences>
            <choiceReferences>CoutureMedSpaNashua</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDefaultLocation</elementReference>
            </defaultValue>
            <fieldText>Select Appointment Location</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CandidateScreen</name>
        <label>Candidate Screen</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetTimeSlotStage</targetReference>
        </connector>
        <fields>
            <name>flowCandidate</name>
            <extensionName>runtime_appointmentbooking:flowCandidate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedServiceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skillsStartDate</name>
                <value>
                    <elementReference>skillsStartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>anonymousBooking</name>
                <value>
                    <elementReference>allowAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourceBooking</name>
                <value>
                    <elementReference>allowResourceBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>selectedServiceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>skillsStartDate</assignToReference>
                <name>skillsStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
                <name>isAnonymousBooking</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_validation_error</name>
        <label>Copy 1 of validation error</label>
        <locationX>1920</locationX>
        <locationY>3902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(240, 0, 0);&quot;&gt;{!CustomerrorMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_validation_error</name>
        <label>Copy 2 of validation error</label>
        <locationX>1656</locationX>
        <locationY>4010</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(240, 0, 0);&quot;&gt;{!CustomerrorMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayFXErrpr</name>
        <label>DisplayFXErrpr</label>
        <locationX>710</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_service_resource_details</targetReference>
        </connector>
        <fields>
            <name>DisplayFXErrror</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(228, 0, 0); font-family: sans-serif;&quot;&gt;Fractional / Fractional Membership (Not before 10:45 am due to numbing)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LocationScreen</name>
        <label>Location Screen</label>
        <locationX>1634</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
        <fields>
            <name>flowLocation</name>
            <extensionName>runtime_appointmentbooking:flowLocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enteredLocation</name>
                <value>
                    <elementReference>selectedLocation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distance</name>
                <value>
                    <elementReference>locationDistance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lat</name>
                <value>
                    <elementReference>locationLatitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>long</name>
                <value>
                    <elementReference>locationLongitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distanceUnit</name>
                <value>
                    <elementReference>distanceUnit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideStOh</name>
                <value>
                    <elementReference>hideStOh</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>USA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <stringValue>San Francisco</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.PostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.State</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Street</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedLocation</assignToReference>
                <name>enteredLocation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationDistance</assignToReference>
                <name>distance</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationLatitude</assignToReference>
                <name>lat</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>locationLongitude</assignToReference>
                <name>long</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Service_Appointment</name>
        <label>Review Service Appointment</label>
        <locationX>1128</locationX>
        <locationY>3362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Review_Assignment</targetReference>
        </connector>
        <fields>
            <name>ReviewScreenDisplay</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;Review Service Appointment&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Appointment</name>
            <fieldText>Service Appointment</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Service_Appointment_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Service_Resource</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_service_resource_details.Name</elementReference>
                    </defaultValue>
                    <fieldText>Room</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Service_Appointment_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Work_Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Selected_Work_Type_group.Name</elementReference>
                    </defaultValue>
                    <fieldText>Appointment Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Additional_Information</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                    </defaultValue>
                    <fieldText>Appointment Purpose</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Treatment_Area</name>
                    <defaultValue>
                        <stringValue>{!varFormulaTreatmentArea}</stringValue>
                    </defaultValue>
                    <fieldText>Treatment Area</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varFormulaTreatmentArea</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Scheduled_Times</name>
            <fieldText>Scheduled Times</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Scheduled_Times_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Start_America_New_York</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Start (America/New_York)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Arrival_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>ServiceAppointment.ArrivalWindowStartTime</elementReference>
                    </defaultValue>
                    <fieldText>Arrival Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Scheduled_Times_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_End_America_New_York</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled End (America/New_York)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varFormulaSubject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Detailed Reason for Visit</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Parent_Record</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_lead.Name</elementReference>
            </defaultValue>
            <fieldText>Parent Record</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>get_Service_Teritry.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>get_Service_Teritry.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>get_Service_Teritry.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>get_Service_Teritry.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>get_Service_Teritry.Country</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_lead.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_lead.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Treatment_Area</name>
        <label>Select Treatment Area</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetLocationStage</targetReference>
        </connector>
        <fields>
            <name>Display1</name>
            <fieldText>&lt;h2 style=&quot;text-align: center;&quot;&gt;Select Treatment Area&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Filler_Treatment_areas12</name>
            <choiceReferences>FillerTreatmentAreas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Filler Treatment areas</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Filler</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IPL_Treatment_Area12</name>
            <choiceReferences>IPLTreatmentFields</choiceReferences>
            <dataType>String</dataType>
            <fieldText>IPL Treatment Area</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>IPL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fractional_Treatment_Areas12</name>
            <choiceReferences>FractionalTreatmentFields</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fractional Treatment Areas</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Fractional</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Emsculpt_Treatment_Areas12</name>
            <choiceReferences>EmsculptTreatmentFields</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Emsculpt Treatment Areas</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Emsculpt</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Laser_Hair_Treatment_Areas12</name>
            <choiceReferences>LaserHairTreatmentFields</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Laser Hair Treatment Areas</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Laser Hair Removal</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Laser Hair Removal Room</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SkinPen_Treatment_Areas12</name>
            <choiceReferences>SkinPenTreatmentFields</choiceReferences>
            <dataType>String</dataType>
            <fieldText>SkinPen Treatment Areas</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>SkinPen</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Skinpen</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tattoo_Removal_Treatment_Areas12</name>
            <choiceReferences>TattooRemovalTreatmentFields</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tattoo Removal Treatment Areas</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ServiceAppointment.AdditionalInformation</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Tattoo Removal</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Laser (Tattoo Removal Room)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Vanquish_Treatment_Areas12</name>
            <choiceReferences>VanquishTreatmentFields</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vanquish Treatment Areas</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Vanquish</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Vein_Treatment_Areas</name>
            <choiceReferences>VeinTreatmentFields</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vein Treatment Areas</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Vein Removal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Injectable_Treatment_Areas</name>
            <choiceReferences>varChoiceInjectableTreatMentArea</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Injectable Treatment Areas</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Selected_Work_Type_group.Name</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Injectables</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Slot_Screen</name>
        <label>Time Slot Screen</label>
        <locationX>842</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Error_Message_For_Fx</targetReference>
        </connector>
        <fields>
            <name>flowTimeslot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>changePrimary</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableMultiResourceAndConcurrency</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>startDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>skillsStartDate</name>
                <value>
                    <elementReference>skillsStartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>changePrimary</assignToReference>
                <name>changePrimary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TopicScreen</name>
        <label>Topic Screen</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetAppointmentStage</targetReference>
        </connector>
        <fields>
            <name>flowWorkType</name>
            <extensionName>runtime_appointmentbooking:flowWorkType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByWorkTypeGroups</name>
                <value>
                    <elementReference>FilterByWorkTypeGroupIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>workTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
                <name>additionalInformation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Comments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>validation_error</name>
        <label>validation error</label>
        <locationX>2184</locationX>
        <locationY>3794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(240, 0, 0);&quot;&gt;{!CustomerrorMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__Flow</sourceTemplate>
    <stages>
        <name>AppointmentTypeStage</name>
        <isActive>true</isActive>
        <label>Select Appointment Type</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>AttendeesStage</name>
        <isActive>true</isActive>
        <label>Select Attendees</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>CandidateStage</name>
        <isActive>true</isActive>
        <label>Select Candidate</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>LocationStage</name>
        <isActive>true</isActive>
        <label>Select Location</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>TopicStage</name>
        <isActive>true</isActive>
        <label>Select Topic</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>1651</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allowAnonymousBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>allowResourceBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ArrivalWindowStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changePrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a default time zone for Lightning Scheduler appointments.</description>
        <name>DefaultTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>variable to hold values of distance units</description>
        <name>distanceUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>mi</stringValue>
        </value>
    </variables>
    <variables>
        <description>The ID of the selected Engagement Channel Type.</description>
        <name>engagementChannelTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a comma-separated list of service resource IDs. Depending on the page, these IDs are used to filter work type groups, service territories, or service resources.</description>
        <name>FilterByResourceIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilterByWorkTypeGroupIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify whether to display ST OH or not</description>
        <name>hideStOh</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>locationLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>optionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTriageOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>skillsStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentUserLocations</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
