force-app/main/default/flows/Parent_Chart_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <choices>
        <name>Aesthetician_Visit</name>
        <choiceText>Esthetician Visit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aesthetician Visit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Consents</name>
        <choiceText>Consents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consents</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cosmetic_Visit</name>
        <choiceText>Cosmetic Visit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cosmetic Visit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cosmetic_Visits</name>
        <choiceText>Cosmetic Visits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cosmetic Visits</stringValue>
        </value>
    </choices>
    <choices>
        <name>CreateChart</name>
        <choiceText>Create a New Chart</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create a New Chart</stringValue>
        </value>
    </choices>
    <choices>
        <name>ExistingChart</name>
        <choiceText>View Existing Charts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>View Existing Charts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Membership_Agreement</name>
        <choiceText>Membership Agreement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Membership Agreement</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Cosmetic_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Cosmetic_Visit_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cosmetic_Visit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cosmetic_Visit_New_1_D_Flow_1</targetReference>
            </connector>
            <label>If Cosmetic Visit</label>
        </rules>
        <rules>
            <name>If_Aesthetician_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Cosmetic_Visit_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Aesthetician_Visit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aesthetician_Visit_Subflow</targetReference>
            </connector>
            <label>If Aesthetician Visit</label>
        </rules>
        <rules>
            <name>If_Consents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Consents</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConsentsLabel</targetReference>
            </connector>
            <label>If Consents</label>
        </rules>
        <rules>
            <name>If_Membership_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_your_choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Membership_Agreement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Membership_Agreement_Screen_Flow_Flow_1</targetReference>
            </connector>
            <label>If Membership Agreement</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Parent Chart Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parent Chart Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Client_Record</name>
        <label>Get Client Record</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSAfromEventObject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSAfromEventObject</name>
        <label>GetSAfromEventObject</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Chart_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ConsentsLabel</name>
        <label>Consents</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_CosmVisitDispText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;This Screen for Consents&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Here Forms will come&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Parent_Chart_Flow</name>
        <label>Parent Chart Flow</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <fields>
            <name>Select_your_choice</name>
            <choiceReferences>Cosmetic_Visits</choiceReferences>
            <choiceReferences>Consents</choiceReferences>
            <choiceReferences>Membership_Agreement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select your choice:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Cosmetic_Visit_Type</name>
            <choiceReferences>Cosmetic_Visit</choiceReferences>
            <choiceReferences>Aesthetician_Visit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Cosmetic Visit Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_your_choice</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Cosmetic_Visits</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Client_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Aesthetician_Visit_Subflow</name>
        <label>Aesthetician Visit</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <flowName>Aesthetic_Visit_New_Version</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Cosmetic_Visit_New_1_D_Flow_1</name>
        <label>Cosmetic Visit New 1 D Flow 1</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <flowName>Cosmetic_Visit_New_1</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Membership_Agreement_Screen_Flow_Flow_1</name>
        <label>Membership Agreement Screen Flow Flow 1</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <flowName>Membership_Agreement_Screen_Flow</flowName>
        <inputAssignments>
            <name>ClintId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>clientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
