force-app/main/default/flows/ST_Reminder_to_Patient_2_day_before_procedure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>440</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>loop_on_schedule_app</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>loop_on_schedule_app.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Couture Med Spa Appointment Reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>440</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>varContainsClinet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_schedule_app.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Action_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>decision for first</label>
        <locationX>352</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Assignment_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contains_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContainsClinet</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_on_schedule_app.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_on_schedule_app</targetReference>
            </connector>
            <label>contains email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Arrival_Window_Start_formula</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!loop_on_schedule_app.ArrivalWindowStartTime})</expression>
    </formulas>
    <formulas>
        <name>TimeArrivalFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(
  MOD(
    IF(
      VALUE(MID(TEXT({!loop_on_schedule_app.ArrivalWindowStartTime}), 12, 2)) &gt;= 4,
      VALUE(MID(TEXT({!loop_on_schedule_app.ArrivalWindowStartTime}), 12, 2)) - 4,
      VALUE(MID(TEXT({!loop_on_schedule_app.ArrivalWindowStartTime}), 12, 2)) - 4 + 12
    ),
    12
  )
) &amp;
&quot;:&quot; &amp;
MID(TEXT({!loop_on_schedule_app.ArrivalWindowStartTime}), 15, 2) &amp;
IF(
  VALUE(MID(TEXT({!loop_on_schedule_app.ArrivalWindowStartTime}), 12, 2)) &gt;= 4,
  &quot; AM&quot;,
  &quot; PM&quot;
)</expression>
    </formulas>
    <interviewLabel>ST- Reminder to Patient 2 day before procedure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ST- Reminder to Patient 2 day before procedure</label>
    <loops>
        <name>loop_on_schedule_app</name>
        <label>loop on schedule app</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>get_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_SA</name>
        <label>get SA</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_on_schedule_app</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Days_untill_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>SchedStartTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Days_untill_Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-24</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailact</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!loop_on_schedule_app.Location_Name__c} is looking forward to seeing you on {!Arrival_Window_Start_formula} at {!TimeArrivalFormula} Please reply with Confirm to confirm your appointment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks and Regards&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Respected {!$Record.Contact.FirstName}, this is a reminder email for your procedure scheduled after 2 days.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varContainsClinet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
