force-app/main/default/flows/Update_Status_To_No_Show_if_client_not_Visited.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_No_Show</name>
        <label>Assign No Show</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>loop.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No showed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Status To No Show if client not Visited {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Status To No Show if client not Visited</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>get_OLD_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_No_Show</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPDATE_STATUS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_OLD_SA</name>
        <label>get OLD SA</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPDATE_STATUS</name>
        <label>UPDATE STATUS</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <inputReference>varSAList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_OLD_SA</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-06-06</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varSAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
