force-app/main/default/flows/Update_Client_Next_App_Arrival_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_varNum_1</name>
        <label>Assign varNum 1</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_client</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_first</name>
        <label>check for first</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1st_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_varNum_1</targetReference>
            </connector>
            <label>1st record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varArrivalTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Loop_1.ArrivalWindowStartTime} - (4/24)</expression>
    </formulas>
    <interviewLabel>Update Client Next App Arrival Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Client Next App Arrival Values</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>get_all_Related_SA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_first</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_Related_SA</name>
        <label>get all Related SA</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SchedStartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Client_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <sortField>SchedStartTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_client</name>
        <label>update client</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Arrival_time__c</field>
            <value>
                <elementReference>varArrivalTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Appointment_Date__c</field>
            <value>
                <elementReference>Loop_1.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_all_Related_SA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
